.persons-list {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    min-height: 300px;
}

.persons-list__row:nth-child(even) td {
    background-color: rgb(250,250,250);
}

.persons-list__row:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }

.persons-list__cell{
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    background-color: rgb(235,235,235);
    text-align: center;
}